body
{
	text-align: center;
	margin:0 auto;
	width:80%;
	background-color:white;
}
main {
	margin:0 auto;
	padding: 2em 4em;
	border:1px solid black;
	background-color:#fffded;
}


table
{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

td, th
{
	border: 1px solid #DDDDDD;
	padding: 8px;
}

td.text
{
	text-align: left;
}

tr:nth-child(even)
{
	background-color: #DDDDDD;
}



label, input, select {
    font-size: 100%;
}

label {
    width: 10em;
    text-align: right;
    float:left;
    font-size: 1em;
    padding-right: .5em;
	font-size:110%;
}


input{
    margin-left: 3em;
    margin-bottom: .5em;
    width: 20em;
	font-size:110%;
}
select{
	margin-left: 3em;
    margin-bottom: .5em;
    width: 20em;
	font-size:110%;
}
h1{
    font-size:200%;
}
h2{
    text-align:center;
}

form {	width:600px;
	padding-left:10em;}
